<form method="post" action="{{ path('Fornisseur_delete', {'id': Fornisseur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Fornisseur.id) }}">
    <button class="btn">Delete</button>
</form>
