{% extends 'template.html.twig' %}

{% block title %}Edit Fornisseur{% endblock %}

{% block body %}
    <h1>Edit Fornisseur</h1>

    {{ include('Fornisseur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('Fornisseur_index') }}">back to list</a>

    {{ include('Fornisseur/_delete_form.html.twig') }}
{% endblock %}
