{% extends 'template.html.twig' %}

{% block title %}New Fornisseur{% endblock %}

{% block body %}
    <h1>Create new Fornisseur</h1>

    {{ include('Fornisseur/_form.html.twig') }}

    <a href="{{ path('Fornisseur_index') }}">back to list</a>
{% endblock %}
