<form method="post" action="{{ path('Commande_delete', {'id': Commande.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Commande.id) }}">
    <button class="btn">Delete</button>
</form>
