{% extends 'template.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <h1>Edit Commande</h1>

    {{ include('Commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('Commande_index') }}">back to list</a>

    {{ include('Commande/_delete_form.html.twig') }}
{% endblock %}
