<form method="post" action="{{ path('Medicaments_delete', {'id': medicament.id}) }}" onsubmit="return confirm('Vous etes sur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medicament.id) }}">
    <button class="btn">Supprime</button>
</form>
