{% extends 'template.html.twig' %}

{% block title %}New Medicaments{% endblock %}

{% block body %}
    <h1>Create new Medicaments</h1>

    {{ include('Medicaments/_form.html.twig') }}

    <a href="{{ path('Medicaments_index') }}">back to list</a>
{% endblock %}
