{% extends 'template.html.twig' %}

{% block title %}nouvelle Medicament{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle medicament</h1>

    {{ include('Medicaments/_form.html.twig') }}

    <a href="{{ path('Medicaments_index') }}">retour a la liste</a>
{% endblock %}
