{% extends 'template.html.twig' %}

{% block title %}nouvelle Pharmacie{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle Pharmacie</h1>

    {{ include('pharmacie/_form.html.twig') }}

    <a href="{{ path('pharmacie_index') }}">retour a la liste</a>
{% endblock %}
